<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="gestaodeusuarios.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <header>
    <div class="header-left">
      <a href="http://localhost:8080/"><img th:src="@{/img/blackbeltlogo.png}" alt="BlackBelt" /></a>
    </div>
    <div class="header-right">
      <span class="username" th:text="${message}"></span>
    </div>
  </header>

  <div class="main">
    <aside class="sidebar">
      <nav>
        <ul>
          <li class="item"><a href="http://localhost:8080/"><span class="material-symbols-outlined">dashboard</span><span th:text="${#authorization.expression('hasRole(''ROLE_MANAGER'')') ? 'Dashboard Global' : 'Dashboard'}">Dashboard</span></a></li>
          <li class="item" th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}"><a href="http://localhost:8080/usuarios"><span class="material-symbols-outlined">groups</span><span>Gestão de Usuários</span></a></li>
          <li class="item" th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}"><a href="http://localhost:8080/empresa"><span class="material-symbols-outlined">library_add</span><span>Gestão de Empresas</span></a></li>
          <li class="item"><a href="http://localhost:8080/logout"><span class="material-symbols-outlined">logout</span><span>Logout</span></a></li>
        </ul>
      </nav>
    </aside>

    <section class="content">
      <!-- Conteúdo principal da home aqui -->


      <button id="openPopup" class="button-campanha">Adicionar Usuários</button>

      <div id="popup" class="popup">
        <div class="popup-content">
          <span id="closePopup" class="close">&times;</span>

          <form action="/salvarusuarios" method="post" th:object="${usuarioobj}">
            <label>Email</label>
            <input class="inp" type="email" name="login" th:field="*{login}" required>
            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color:red"></p>
            <label>Senha</label>
            <input class="inp" type="password" name="password" th:field="*{password}" required>
            <label>Cargo</label>
            <input class="inp" name="cargo" th:field="*{cargo}" required>
            <label>Permissao</label>
            <select class="inp" name="permissao" th:field="*{permissao}" required>
              <option value="Admin">Admin</option>
              <option value="Usuario">Usuario</option>
            </select>
            <label>CNPJ Empresa</label>
            <input class="inp" name="empresa" th:field="*{empresa}" required>
            <input type="submit" value="Salvar">
          </form>
        </div>
      </div>

      <h1 class="title-upload">Usuários</h1>

      <p class="last-upload">Lista de Usuarios:</p>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Senha</th>
            <th>Cargo</th>
            <th>Permissao</th>
            <th>Empresa CNPJ</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${usuarios}">
            <td th:text="${user.login}">Daniel.026@hotmail.com</td>
            <td th:text="${user.password}">12345</td>
            <td th:text="${user.cargo}">aaaaa</td>
            <td th:text="${user.permissao}">sadsadsa</td>
            <td th:text="${user.cnpjEmpresa}">sadsad</td>
            <td>
              <a href="javascript:void(0);" th:attr="data-id=${user.id}, 
             data-login=${user.login}, 
             data-password=${user.password},
             data-cargo=${user.cargo},
             data-permissao=${user.permissao},
             data-empresa=${user.cnpjEmpresa}" onclick="openEditPopup(this)">Editar</a>
              <a th:href="@{/removerusuario/{idusuario}(idusuario=${user.id})}">Excluir</a>
            </td>
          </tr>


        </tbody>
      </table>

      <div id="popupEdit" class="popup">
        <div class="popup-content">
          <span id="closePopupEdit" class="close">&times;</span>

          <!-- Formulário para editar usuarios -->
          <form action="/editarusuarios" method="post">
            <label for="editId">ID</label>
            <input type="text" id="editId" name="id" readonly>
            <label for="editLogin">Email</label>
            <input type="email" id="editLogin" name="login" required>
            <label for="editPassword">Senha</label>
            <input type="text" id="editPassword" name="password" required>
            <label for="editCargo">Cargo</label>
            <input type="text" id="editCargo" name="cargo" required>
            <label for="editPermissao">Permissão</label>
            <select id="editPermissao" name="permissao" required>
              <option value="Admin">Admin</option>
              <option value="Usuario">Usuario</option>
            </select>
            <label for="editEmpresa">CNPJ Empresa</label>
            <input type="text" id="editEmpresa" name="empresa" required>
            <input type="submit" value="Salvar">
          </form>
        </div>
      </div>




    </section>
  </div>
  <script th:src="@{/js/gestaodeusuarios.js}"></script>
</body>

</html>